#linkezada {
   text-decoration: none;
   color: black; 
}
#verde-claro {
color: #0f0;
}
#vermelho{
color: #f00;
}
#roxo {
color: rgb(88, 24, 88);
}
#laranja {
color: orange;
}
#cinza {
color: rgb(99, 99, 99);
}
#verde-escuro {
    color: rgb(19, 69, 19);
}
#azul {
color: rgb(32, 32, 106);
}